:root {
  --base-color-text: #1B1B1B;
  --base-color-accent: #3a8ddd;
  --base-color-light: #ccc;
  --base-color-background: #fff;
  --base-font-family: verdana, sans-serif;
  --base-font-weight: normal;
  --base-line-height: 1.6;
  --base-font-size: 16px;
  --base-font-size-small: 0.8em;
  --base-font-size-medium: 1.25em;

  --base-headings-font-family: var(--base-font-family);
  --base-headings-font-weight: bold;
  --base-headings-line-height: 1.25;
  --base-headings-font-size-1: 36px;
  --base-headings-font-size-2: 30px;
  --base-headings-font-size-3: 26px;
  --base-headings-font-size-4: 20px;

  --base-layout-width: 1100px;
  --base-content-width: 800px;
  --base-offset: 40px;
  --base-offset-vertical: 60px;
  --base-space: 20px;
  --base-gap: 40px;
}

@media (max-width: 599px) {
  :root {
    --base-offset: 25px;
    --base-gap: var(--base-space);
  }
}
