.editor-styles-wrapper {
  padding: 0 !important;
  overflow-x: hidden;

  .edit-post-visual-editor__post-title-wrapper {
    border-bottom: 0px solid #007bba;
    background: #f2f4f5;
    color: black;
    margin-top: unset;
    margin-bottom: var(--theme-element-spacer);
    border-bottom: 1px solid #e0e0e0;

    .editor-post-title {
      margin: 0 auto;
      max-width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      font-size: 16px;
      padding: 12px 24px 12px 24px;
      height: unset !important;
      min-height: unset !important;
      color: rgb(68,68,68);
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

      .editor-post-title__input {
        font-size: 16px;
        min-height: unset;
        padding: 0;
        color: rgb(68,68,68);
        font-family: inherit;
      }
    }
  }

  .is-root-container {
    width: 100%;

    > * {
      width: var(--base-content-width);
      max-width: calc(100% - calc(2 * var(--base-offset))) !important;
      margin-left: auto;
      margin-right: auto;

      &[data-align=wide] {
        width: 100%;
        max-width: var(--base-layout-width) !important;

        > .wp-block-group > * {
          padding-left: var(--base-offset);
          padding-right: var(--base-offset);
        }
      }

      &[data-align=full] {
        width: 100%;
        // max-width: 100% !important;
        max-width: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;

        > * {
          > p,
          > h1,
          > h2,
          > h3,
          > h4,
          > ol,
          > ul,
          > article {
            width: var(--base-content-width);
            max-width: calc(100% - calc(2 * var(--base-offset)));
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      &.is-reusable {
        max-width: 100% !important;
        width: 100%;
      }
    }

    // > .block-editor-block-list__block:not(.is-reusable) {
    //   padding-left: var(--base-offset);
    //   padding-right: var(--base-offset);
    // }

    // > [data-align=full] > .wp-block-cover [class*=__inner-container] > *,
    // > [data-align=full] > .wp-block-columns > *,
    // > [data-align=full] > .wp-block-group > * {
    //   width: var(--base-layout-width);
    //   margin-left: auto;
    //   margin-right: auto;
    //   max-width: calc(100% - calc(2 * var(--base-offset))) !important;
    // }

    .wp-block {
      // max-width: 100% !important; // breaks left/right padding on mobile

      &[data-align=wide] {
        max-width: var(--base-layout-width) !important;
      }
    }

    .wp-block-cover,
    .wp-block-cover-image {
      padding: var(--base-offset);

      &__inner-container :last-child {
        margin-bottom: 0;
      }
    }

    .wp-block-columns {
      margin-bottom: var(--base-space);

      &.has-background {
        padding: var(--base-offset);
      }
    }

    .wp-block-group.has-background {
      padding-top: var(--base-offset);
      padding-bottom: var(--base-offset);

      &:not([data-align=wide]):not([data-align=full]) {
        padding-left: var(--base-offset);
        padding-right: var(--base-offset);
      }

      > * > :first-child {
        margin-top: 0;
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 100%;

    @media (max-width: 599px) {
      max-height: 60vw;
    }
  }
}
