.editor-styles-wrapper {
  .wp-block-image {
    margin-bottom: var(--base-space) !important;
    height: auto;

    figcaption {
      margin: calc(var(--base-space) / 2) 0 var(--base-space);
      text-align: center;
      font-size: var(--base-font-size-small);
      display: block !important;
    }
  }

  .wp-block-separator {
    border: 0;
    border-top: 1px solid var(--base-color-text);
    max-width: var(--base-content-width) !important;
    margin-top: var(--base-space) !important;
    margin-bottom: var(--base-space) !important;
  }

  .wp-block[data-align='full'] .wp-block-separator {
    max-width: 100% !important;
  }

  .wp-block[data-align='left'],
  .wp-block[data-align='right']{
    float: none !important;
  }

  .wp-block[data-align='left'] > * {
    float: left;
  }

  .wp-block[data-align='right'] > * {
    float: right;
  }

  .wp-block-columns {
    margin-top: 0;
    margin-bottom: 0;
  }

  .wp-block-cover {
    padding: 0;

    .subtitle {
      padding-left: unset;
    }
  }
}
